[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
schedule = "*"
pyyaml = "*"
pillow = "*"
watchdog = "*"
pygame = "*"
python-vlc = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
playwright = "*"
python-dateutil = "*"

[dev-packages]
pytest = "*"
black = "*"

[requires]
python_version = "3.13"
